body {
	margin: 0;
	padding: 0;
	height:100%;
}
#container {
	height:100%;
	min-height:100%;
	position:relative;
}
#header {
	background-color: #F0F7FF;
	display: block;
	text-align: center;
	margin-bottom: -4px;
}
#content {
	width: 800px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
}

/* FOOTER */
#footer {
	margin-top: 30px;
	height: 95px;
	background-color: #eef6ee;
	border-style: solid;
	border-color: #15371a;
	border-width: 2px 0px 0px 0px;
	font-family: 'Raleway', sans-serif;
	display: block;
}
#footer .f-text {
	display: block;
	font-size: 85%;
	float: left;
	width:33%;
}
#footer .f-text p {
	margin-left: 20px;
	margin-top: 20px;
}
#footer .f-social {
	display: block;
	float: left;
	width:34%;
	margin-top: 40px;
	text-align: center;
}
#footer .f-social .fa a {
	margin-top: 20px;
}
#footer .fa a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 5px;
    transition: 0.4s ease;
}
#footer .fa a:hover {
    color: #808080;
}
#footer .f-button {
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}
#footer .f-button a {
	background-color: #669966; /* Green */
    color: white;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
	transition: 0.6s ease;
}
#footer .f-button a:hover {
	background-color: #3d5c3d;
}
/* -- -- -- -- -- -- */

.title {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 240%;
}

h3, h2 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
h4 {
	font-family: 'Quicksand', sans-serif;
}

a {
	color: green;
	transition: 0.4s ease;
}
a:hover {
	color: black;
}

.logo {
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
	width: 25%;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 14px;
}
.logo img {
	width: 100%;
}

.scratch {
  overflow: hidden;
  height: 359px;
  width:480px;
	margin: auto;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-buttons {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 120px;
}
.home-buttons a {
	display: block;
	width: 150px;
	float: left;
	margin: 0px 55px;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	padding: 14px 0;
	text-decoration: none;
	background-color: #669966;
	border-style: solid;
	border-color: #669966;
	border-width: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s ease;
}
.home-buttons a:hover {
	background-color: #527a52;
}

.game-buttons {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
}
.game-buttons a {
	display: block;
	width: 150px;
	float: left;
	margin: 0px 122px;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	padding: 14px 0;
	text-decoration: none;
	background-color: #669966;
	border-style: solid;
	border-color: #669966;
	border-width: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s ease;
}
.game-buttons a:hover {
	background-color: #527a52;
}

.game-text {
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 120px;
}
.game-text p {
	display: block;
	width: 350px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	padding: 10px;
	background-color: #f2f2f2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Contact */
.contact input {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #999;
	border-radius: 4px;
	display: inline-block;
	box-sizing: border-box;
}
.contact input:focus {
	border-color: black;
}

.contact textarea {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	width: 100%;
	height: 100px;
	padding: 12px 20px;
	margin: 8px 0;
	resize: vertical;
	border: 1px solid #999;
	border-radius: 4px;
	display: inline-block;
	box-sizing: border-box;
}
.contact textarea:focus {
	border-color: black;
}
.contact input[type="submit"], input[type="reset"] {
	cursor: pointer;
	padding: 16px 20px;
	margin: 6px 0;
	font-family: 'Quicksand', sans-serif;
	color: white;
	background-color: #669966;
	border-width: 1px;
	border-style: none;
	border-radius: 6px;
	transition: 0.5s ease;
}
.contact input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: #3d5c3d;
}

.image {
	display: block;
	border-style: solid;
	border-color: #d9d9d9;
	border-width: 2px;
	margin: auto;
}

.up-social {
	text-align: center;
	font-size: 24px;
}
.up-social a {
	text-decoration: none;
}

/* SLIDE SHOW */
/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 4px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Number text (1/6 etc) */
.numbertext {
  color: #fff;
  font-size: 12px;
  padding: 6px 10px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  border-radius: 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

/* NAVIGATION BAR */
.nav {
  background-color: #3fa34e;
  border-style: solid;
  border-color: #15371a;
  border-width: 2px 0px 2px 0px;
  text-align: center;
}
.nav .links {
  width: 800px;
  text-align: center;
  margin: auto;
}
.nav .links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav .links li {
  float: left;
}
.nav .links li a, .dropbtn {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  transition: 0.3s ease;
}
.nav .links li a:hover, #active {
  background-color: #5abf69;
}
.nav .links li .dropdown {
	display: inline-block;
}
.nav .links .dropdowncontent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.nav .links .dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.nav .links .dropdowncontent a:hover, .dropdowncontent #active {
	background-color: #e6e6e6
}
.nav .links .dropdown:hover .dropdowncontent {
    display: block;
}
/* -- -- -- -- -- -- */
